@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans text-gray-800 bg-white antialiased font-light;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold text-primary;
    }
}

html {
    scroll-behavior: smooth;
}